// Import Google fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&display=swap');






$body-font: "Roboto Mono", "monospace";
$headers-font: "Roboto Slab", "serif";
$logo-font: "IBM Plex Serif", "serif";

$font-family-sans-serif:  $body-font;
$headings-font-family:    $headers-font;
$font-size-base: 1rem;

.box-card, .box-card-contact {
  overflow: hidden;
  border: none;
  border-radius: 3px;
  max-width: 380px;
  margin: 26px;
  padding: 16px;
  background: white;

}

.page h2 {
  width: 90%;
  text-align: center;
  font-weight: normal;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid rgba(0,0,0,0.2)
}
.box-card {
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.box-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.box-card h4 > a {
  margin: 0;
  color: black;
}

.box-card p {
  opacity: .7;
  margin: 0;
}
/* .banner {
  background-image: url(https://res.cloudinary.com/litall/image/upload/c_fill,e_art:aurora,h_681,y_0/v1588593252/dovalfon/reviews-banner-3_krnecr.png);
  background-position: center;
  background-size: contain;
  background-repeat-y: no-repeat;
  padding: 36px 26px;
  padding-top: 150px;
  position: relative;
  height: auto;
  h2 {
    position: absolute;
    top: 35%;
    left: 5%;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;

  }
}*/

.article-show-container {
  margin: 0 auto;
  color: #373331;
  padding: 36px;
  background: rgb(250, 250, 247);
  font-size: 1.2rem;
  margin-bottom: 26px;



}
.content-layout {
      max-width: 800px;
        margin: 0 auto;



}
.article-show-header  {
  margin: .7rem 0;
  text-align: left;
  color: #373331;
  font-weight: 600;
  h1 {
     font-size: 2rem;
     margin: 2rem 0;
  }
  .subtitle {
     font-size: 1.2rem;
  }
  .source {

    padding: 5PX 10px;
    background: red;
    color: white;

  }
}



.content-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: justify;
}



.content-layout .text {
  margin-top: 1rem;
}
.wide-card  {
  display: block;
  padding: 25px;
  width: 100%;
}
.box-card .card-infos {
  padding-top: 16px;
}
.wide-card .card-infos {
  padding: 4px;
  max-width: 800px;
  margin: 0 auto;


}
.review-credit {
  display: inline-block;
  float: right;
  background: black;
  width: auto;
  color: rgb(250, 250, 247);
  padding: 0px 6px;
}

.review-card {
  max-width: 800px;
margin: 0 auto;
padding: 10px 25px;
height: auto;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 background-color: rgb(254, 255, 251);
 padding: 0 10%;

}

.wide-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}



select {
  padding: 2px;

}
.select-menu {
  width: auto;
}
select:focus {
  outline:none;
}

// News Page
.news-page, .reviews-page, .interviews-page, .reviews-container {
  background-image: url(https://res.cloudinary.com/litall/image/upload/c_scale,e_brightness:70,w_1543/v1588867026/dovalfon/bg_w3sdzn.png);
}



.article-list {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-evenly;
}

.box-card small {
  display: block;
}


.article-show {
  position: absolute;
  background-color: white;
  margin: 50px 20px;
}



.btn-order {
  border: 1px solid white;
  color: white;
  opacity: .9;
  display: block;
  width: 30%;
  margin: 0 auto;
}
.btn-order:hover {
     color: white;

   opacity: 1;
}

.scroll-icon {
   border: 4px black solid;
}

.scroll {
  font-size: 34px;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;

  position: fixed;
  padding-top: 20px;
  bottom: 30px;
  right: 30px;
  transition:
    opacity .5s, visibility .5s;
  opacity: .5;
  z-index: 1000;

  &:hover {
    opacity: 1;
  }
}

.scroll_To_Top:hover {
  cursor: pointer;
  opacity: 1;
}
.scroll_To_Top:active {

}
.praises {

  background-color: rgb(241, 227, 11);
  padding: 26px 26px;
  display: flex;
  flex-wrap: wrap;
  vertical-align: flex-end;
  justify-content: center;




}
.praise {
    max-width: 500px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 25px;
    margin-bottom: 78px;
}

.praise p {
  max-width: 700px;
  font-size: 30px;
  line-height: 1.4;
  font-weight: bold;
  padding-right: 24px;
}



 .reviews-page, .home {
  background-color: rgb(254, 255, 251);
}
.home {
     margin-top: -150px;

}

// Contact page


// HERO

.hero {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%), url(https://res.cloudinary.com/litall/image/upload/v1587902087/dovalfon/passerelle_2_ruxni2.jpg);
background-size: cover;
  background-position: center;
 color: white;
  padding: 36px 26px;
  padding-top: 170px;

}

.hero-left {
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin-bottom: 26px;
 //box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.book-image {
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
  position: relative;
}
.cwa-badge {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 16px 0px;
  position: absolute;
  top: -16px;
  right: 0;
}
.cwa-badge-middle {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 16px 0px;

}
.aller-retour {
  border-radius: 50%;
  object-fit: cover;
  height: 90px;
  width: 90px;
  margin-right: 16px;
}
.hero-right {
  //background-color: white;
  width: 100%;
  padding: 0px;
  flex-grow: 3;
  margin-bottom: 26px;
  border-radius: 3px;
  .hero-text {
    padding: 0;
     margin: 0 auto;
  }
  .hero-right-title {
    display: none;

  }
  .hero-right-title > * {
    color: rgb(255,255,255);
    text-shadow: 2px 2px 4px rgba(0,0,0, .7);
    font-size: 2.4rem;
  }
}
.hero-middle {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 54px;
  width: 100%;
  .hero-middle-title {
    width: inherit;
  }
  .hero-middle-title > * {

  color: rgb(255,255,255);
  text-shadow: 2px 2px 4px rgba(0,0,0, .7);
  font-size: 1.8rem;

  }

}

.translations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 26px;
  margin-top: 26px;
  .book {
    width: 130px;
    height: 200px;
    margin: 1px;
  }
}


.flip-container {
  cursor: pointer;
  height: 200px;
  perspective: 600;
  position: relative;
  width: 130px;
}
.flip {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;

}
.flip:hover {
  transform: rotateY(180deg);
}
.flip .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.flip .back {
  padding-top: 40%;
  color: #373331;
  background: rgb(250, 250, 247);
  text-align: center;
  transform: rotateY(180deg);
}


// CONTACT PAGE
.contact-page-wrapper {
  background-image: url(https://res.cloudinary.com/litall/image/upload/c_scale,e_brightness:70,w_1543/v1588867026/dovalfon/bg_w3sdzn.png);

}
.contact-page {
display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 36px;
}
.contact-card {
display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}
.social, .curtis, .contact-left > h1 {
  padding: 26px;

}
.contact-left > h1 {
  font-size: 3.5rem;
}






// Specific CSS for your home-page

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {


  .hero-right {
    width: 100%;
  }
  .hero-left, .hero-middle {
    max-width: 40%;

  }
  .hero-middle .hero-middle-title > *{
    font-size: 2.2em;
  }

}

@media (min-width: 768px) {
  .book-image {
  margin-top: 46px;
}

}
// Medium devices (tablets, 768px and up)
@media (min-width: 992px){
 .hero-middle {
  display: none;

  .hero-middle-title > * {
    display: none;

  }

}

  .hero-left {
    max-width: 40%;
  }
  .hero-right {
    max-width: 60%;
     .hero-right-title {
    display: block;
  }
  }

  /*.banner {
    height: 65vh;
    h2 {
      font-size: 56px,
    }
  }*/
}

// Large devices (desktops, 992px and up)
@media (min-width: 1000px) {
  .translations {
    .book {
      margin: 8px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}


@import 'styles/parallax';

@import 'styles/siteheader';
@import 'styles/navbar';
@import 'styles/about';
@import 'styles/footer';



