.site-header {
  height: 120px;
  margin-top: -16px;
  margin-bottom: 46px;
  padding-top: 20px,

}
.logo {
  background: white;
}
.logo a {

  font-size: 42px;
  font-family: $logo-font;
  color: #292b29;
  line-height: 2;
  opacity: 1;
  &:hover {
    text-decoration: none;
  }
}
.logo .logo-white {
  background: transparent;
}
.logo-white a {
  color: white;
    &:hover {
    color: white;

  }
}


.logo-black a {

  color: black;
  &:hover {
    color: #292b29;

  }
}
